<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	<link rel="stylesheet" type="text/css" href="index.css">
	
</head>
<body>
		<img src="/template/htmlFiles/phones.jpg" alt="Computer Man"
		width="96" height="96">
<div data-role="page" id="index">

	<div role="main" class="ui-content">
		<form action="" method="post">
			<p><font size='3'>
			Do you want to buy a new phone? We can find out the best phone for you.</font>
			<input type = "submit" value = "Start">
			</p>
		</form>
	</div>
</div>

</body>
</html>
