<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Knowledge Technology</title>
	
	<link rel="stylesheet" type="text/css" href="index.css">
	
</head>
<body>
<div data-role="page" id="index">

	<div role="main" class="ui-content">
		<p>
		<form action="" method="post">
			How much do you prefer these brands?<br>
			Samsung: <input type="range" name="Brand" value="Samsung"><br>
			Huawei: <input type="range" name="Brand" value="Huawei"><br>
			Apple: <input type= "range" name="Brand" value="Apple"><br>
			<input type="submit">
		</p>
	</div>

</div>

</body>
</html>
