<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Knowledge Technology</title>
	
	<link rel="stylesheet" type="text/css" href="index.css">
	
</head>
<body>
<div data-role="page" id="index">

	<div role="main" class="ui-content">
		<p>
		<form action="" method="post">
			How much do you prefer these brands? (Keep default settings if you don't have a preference)<br>
			<input type="hidden" name="questiontype" value="Brandlike">
			<input type="hidden" name="variable" value="Brand">
			<input type="hidden" name="expression" value="?v? 100 /">
			Samsung: <input type="range" name="Samsung" value="" min = "0" max = "100"><br>
			Huawei: <input type="range" name="Huawei" value="" min = "0" max = "100"><br>
			Apple: <input type= "range" name="Apple" value="" min = "0" max = "100"><br>
			Motorola: <input type="range" name="Motorola" value="" min = "0" max = "100"><br>
			Xiaomi: <input type= "range" name="Xiaomi" value="" min = "0" max = "100"><br>
			<input type="submit">
		</p>
	</div>

</div>

</body>
</html>
