<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Knowledge Technology</title>
	
	<link rel="stylesheet" type="text/css" href="index.css">
	
</head>
<body>
<div data-role="page" id="index">

	<div role="main" class="ui-content">
		<p>
		<form action="" method="post">
			Is Camera quality important?<br>
			<input type="hidden" name="questiontype" value="radio">
			<input type="hidden" name="variableandvalues" value="Camera	Yes	No	Bit">
			<input type="radio" name="Camera" value="sigmoid(Camera, 7)"> Yes<br>
			<input type="radio" name="Camera" value="1"> No<br>
			<input type="radio" name="Camera" value="sigmoid(Camera, 5)"> A little bit<br>
			<input type="submit">
		</p>
	</div>

</body>
</html>
