<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Knowledge Technology</title>
	
	<link rel="stylesheet" type="text/css" href="index.css">
	
</head>
<body>
<div data-role="page" id="index">

	<div role="main" class="ui-content">
		<p>
		<form action="" method="post">
			Which Memory size do you want?<br>
			<input type="hidden" name="questiontype" value="radio">
			<input type="hidden" name="variableandvalues" value="Memory	32GB	64GB	128GB	256GB	NotImportant">
			<input type="radio" name="Memory" value="32GB"> 32GB<br>
			<input type="radio" name="Memory" value="64GB"> 64GB<br>
			<input type="radio" name="Memory" value="128GB"> 128GB<br>
			<input type="radio" name="Memory" value="256GB"> 256GB<br>
			<input type="radio" name="Memory" value="NotImportant"> Not Important<br>
			<input type="submit">
		</p>
	</div>

</body>
</html>
