<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Knowledge Technology</title>
	
	<link rel="stylesheet" type="text/css" href="index.css">
	
</head>
<body>
<div data-role="page" id="index">
	<div role="main" class="ui-content">
		<p>
		<form action="" method="post">
			What will you use your phone for?<br>
			<input type="hidden" name="questiontype" value="questionselector">
			<input type="checkbox" name="selected" value="qNav.html"> Business<br>
			<input type="checkbox" name="selected" value="qBrand.html"> Calling/Texting<br>
			<input type="checkbox" name="selected" value="qCamera.html"> Gaming<br>
			<input type="checkbox" name="selected" value="qCamera.html qStream.html"> Social media/Internet<br>
			<input type="checkbox" name="selected" value="qCamera.html"> Taking pictures<br>
			<input type="checkbox" name="selected" value="qNav.html qCamera.html"> I don't know<br>
			<input type="submit">
		</p>
	</div>

</div>

</body>
</html>
