<!DOCTYPE html>
<html>
<body>
<div data-role="page" id="index">

	<div data-role="header" data-theme="a" id="header">
		<h1>Knowledge Technology</h1>
	</div>
	<div role="main" class="ui-content">
		<p>
		<form action="" method="post">
			Do you want a senior function?<br>
			<input type="radio" name="Senior" value="Yes"> Yes<br>
			<input type="radio" name="Senior" value="No"> No<br>
			<input type="submit">
		</p>
	</div>

	<div data-role="footer" data-theme="a" id="footer"> 
		<h4>footer</h4>
	</div>
</div>

</body>
</html>
